<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.huojitang.leaf">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.huojitang.global.LeafApplication"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ChartActivity" android:exported="true"></activity>
        <activity android:name=".AboutActivity" />
        <activity android:name=".ListTagActivity" />
        <activity android:name=".EditTagActivity" />
        <activity
            android:name=".OptionActivity"
            android:label="@string/title_activity_setting"
            android:theme="@style/AppSettingTheme" />
        <activity android:name=".WishDetailsActivity"/>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>